*{
  box-sizing:border-box;
  padding:0;margin:0;
  }
  html{
     height: auto;
}
body {
     margin:0;
     padding:0;
     font-family: sans-serif;
     background: linear-gradient(#141e30, #243b55);
}
label,h2,h1,ul{
color: white;
}
section{
  display:flex;
  flex-wrap:nowrap;
  padding:50px 10px
  }
section h4{
  font-size:12px;
  font-weight:400;
  padding-top:5px
  }
section h2{
  font-size:17px;
  font-weight:700;
  padding-top:15px
  }
.vl{
  border-left:2px solid #310069;
  margin-left:50px;
  height:100vh
  }
.main{
  margin-left:100px
  }
td,th{
  border:3px solid #ddd;
  text-align:left;
  padding:20px
  }
tr:nth-child(even){
  background-color:#ddd
  }
input{
  width:80px;
  height:40px;
  border-radius:8px;
  color:#310069
  }
button{
  width:80px;
  height:40px;
  border-radius:8px;
  color:#310069
  }